<div class="container my-4">
    <h1>Lorem Ipsum</h1>
    <p>Ab illo tempore, ab est sed immemorabili.<br />
        Ullamco laboris nisi ut aliquid ex ea commodi consequat.<br />
        Quis aute iure reprehenderit in voluptate velit esse.<br />
        Petierunt uti sibi concilium totius Galliae in diem certam indicere.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus.</p>
</div>