<footer class="it-footer">
    <div class="it-footer-main">
        <div class="container">
            <section>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="it-brand-wrapper">
                            <a href="#">
                                <svg class="icon">
                                    <use xlink:href="assets/svg/sprite.svg#it-code-circle"></use>
                                </svg>
                                <div class="it-brand-text">
                                    <h2 class="no_toc">Angular ngrx store use case</h2>
                                    <h3 class="no_toc d-none d-md-block">Angular ngrx store</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                        <h4>
                            <a href="#" title="Vai alla pagina: Amministrazione">Amministrazione</a>
                        </h4>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Vai alla pagina: Giunta e consiglio">Giunta e
                                        consiglio</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Aree di competenza">Aree di
                                        competenza</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Dipendenti">Dipendenti</a>
                                </li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Luoghi">Luoghi</a></li>
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: Associazioni e società partecipate">Associazioni e
                                        società partecipate</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                        <h4>
                            <a href="#" title="Vai alla pagina: Servizi">Servizi</a>
                        </h4>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Vai alla pagina: Pagamenti">Pagamenti</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Sostegno">Sostegno</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Domande e iscrizioni">Domande
                                        e iscrizioni</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Segnalazioni">Segnalazioni</a>
                                </li>
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: Autorizzazioni e concessioni">Autorizzazioni e
                                        concessioni</a></li>
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: Certificati e dichiarazioni">Certificati e
                                        dichiarazioni</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                        <h4>
                            <a href="#" title="Vai alla pagina: Novità">Novità</a>
                        </h4>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Vai alla pagina: Notizie">Notizie</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Eventi">Eventi</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Comunicati stampa">Comunicati
                                        stampa</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <h4>
                            <a href="#" title="Vai alla pagina: Documenti">Documenti</a>
                        </h4>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Vai alla pagina: Progetti e attività">Progetti
                                        e attività</a></li>
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: Delibere, determine e ordinanze">Delibere, determine e
                                        ordinanze</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Bandi">Bandi</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Concorsi">Concorsi</a></li>
                                <li><a class="list-item" href="#" title="Vai alla pagina: Albo pretorio">Albo
                                        pretorio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 border-white border-top">
                <div class="row">
                    <div class="col-lg-4 col-md-4 pb-2">
                        <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
                        <p>
                            <strong>Comune di Lorem Ipsum</strong><br> Via Roma 0 - 00000 Lorem Ipsum Codice fiscale /
                            P. IVA: 000000000
                        </p>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: Posta Elettronica Certificata">Posta Elettronica
                                        Certificata</a></li>
                                <li><a class="list-item" href="#"
                                        title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico">URP - Ufficio
                                        Relazioni con il Pubblico</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-2">
                        <h4><a href="#" title="Vai alla pagina: Lorem Ipsum">Lorem Ipsum</a></h4>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-2">
                        <div class="pb-2">
                            <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
                            <ul class="list-inline text-left social">
                                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg
                                            class="icon icon-sm icon-white align-top">
                                            <use xlink:href="assets/svg/sprite.svg#it-designers-italia">
                                            </use>
                                        </svg><span class="sr-only">Designers Italia</span></a></li>
                                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg
                                            class="icon icon-sm icon-white align-top">
                                            <use xlink:href="assets/svg/sprite.svg#it-twitter"></use>
                                        </svg><span class="sr-only">Twitter</span></a></li>
                                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg
                                            class="icon icon-sm icon-white align-top">
                                            <use xlink:href="assets/svg/sprite.svg#it-medium"></use>
                                        </svg><span class="sr-only">Medium</span></a></li>
                                <li class="list-inline-item"><a class="p-2 text-white" href="#" target="_blank"><svg
                                            class="icon icon-sm icon-white align-top">
                                            <use xlink:href="assets/svg/sprite.svg#it-behance"></use>
                                        </svg><span class="sr-only">Behance</span></a></li>
                            </ul>
                        </div>
                        <div class="pb-2">
                            <h4><a href="#" title="Vai alla pagina: Newsletter">Newsletter</a></h4>
                            <p>Form Newsletter</p>
                            <!--<form action="#" method="post">
                      <label for="input-newsletter" class="active">Iscriviti per riceverla</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="input-newsletter" name="input-newsletter" placeholder="Scrivi il tuo indirizzo email" >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                        </div>
                      </div>
                      <button class="btn btn-default pull-right" type="submit">Iscriviti</button>
                    </form>-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="it-footer-small-prints clearfix">
        <div class="container">
            <h3 class="sr-only">Sezione Link Utili</h3>
            <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                <li class="list-inline-item"><a href="#" title="Note Legali">Media policy</a></li>
                <li class="list-inline-item"><a href="#" title="Note Legali">Note legali</a></li>
                <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
                <li class="list-inline-item"><a href="#" title="Mappa del sito">Mappa del sito</a> </li>
            </ul>
        </div>
    </div>
</footer>