<div class="it-header-wrapper">
        <div class="it-header-slim-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="it-header-slim-wrapper-content">
                  <a class="d-none d-lg-block navbar-brand" href="#">Ente appartenenza/Owner</a>
                  <div class="nav-mobile">
                    <nav>
                      <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu-principale" role="button" aria-expanded="false" aria-controls="menu-principale">
                        <span>Ente appartenenza/Owner</span>
                        <svg class="icon">
                          <use xlink:href="assets/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="link-list-wrapper collapse" id="menu-principale">
                        <ul class="link-list">
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2 Active</a></li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                  <div class="it-header-slim-right-zone">
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>ITA</span>
                        <svg class="icon d-none d-lg-block">
                          <use xlink:href="assets/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu">
                        <div class="row">
                          <div class="col-12">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li><a class="list-item" href="#"><span>ITA</span></a></li>
                                <li><a class="list-item" href="#"><span>ENG</span></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="it-access-top-wrapper">
                      <button class="btn btn-primary btn-sm" href="#" type="button">Accedi</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="it-nav-wrapper">
          <div class="it-header-center-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="it-header-center-content-wrapper">
                    <div class="it-brand-wrapper">
                      <a href="#">
                        <svg class="icon">
                          <use xlink:href="assets/svg/sprite.svg#it-code-circle"></use>
                        </svg>
                        <div class="it-brand-text">
                          <h2 class="no_toc">Angular NGRX Store Use case</h2>
                          <h3 class="no_toc d-none d-md-block">Angular ngrx store</h3>
                        </div>
                      </a>
                    </div>
                    <div class="it-right-zone">
                      <div class="it-socials d-none d-md-flex">
                        <span>Seguici su</span>
                        <ul>
                          <li>
                            <a href="#" aria-label="Facebook" target="_blank">
                              <svg class="icon">
                                <use xlink:href="assets/svg/sprite.svg#it-facebook"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#" aria-label="Github" target="_blank">
                              <svg class="icon">
                                <use xlink:href="assets/svg/sprite.svg#it-github"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#" target="_blank" aria-label="Twitter">
                              <svg class="icon">
                                <use xlink:href="assets/svg/sprite.svg#it-twitter"></use>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="it-search-wrapper">
                        <span class="d-none d-md-block">Cerca</span>
                        <a class="search-link rounded-icon" href="#" aria-label="Cerca">
                          <svg class="icon">
                            <use xlink:href="assets/svg/sprite.svg#it-search"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="it-header-navbar-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-12">
      
                  <nav class="navbar navbar-expand-lg has-megamenu">
                    <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
                      <svg class="icon">
                        <use xlink:href="assets/svg/sprite.svg#it-burger"></use>
                      </svg>
                    </button>
                    <div class="navbar-collapsable" id="nav10">
                      <div class="overlay"></div>
                      <div class="close-div sr-only">
                        <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                      </div>
                      <div class="menu-wrapper">
                        <ul class="navbar-nav">
                          <li class="nav-item active"><a class="nav-link active" href="#"><span>link 1 attivo</span><span class="sr-only">current</span></a></li>
                          <li class="nav-item"><a class="nav-link" href="#"><span>link 2</span></a></li>
                          <li class="nav-item"><a class="nav-link disabled" href="#"><span>link 3 disabilitato</span></a></li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                              <span>Esempio di Dropdown</span>
                              <svg class="icon icon-xs">
                                <use xlink:href="assets/svg/sprite.svg#it-expand"></use>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <div class="link-list-wrapper">
                                <ul class="link-list">
                                  <li>
                                    <h3 class="no_toc" id="heading">Heading</h3>
                                  </li>
                                  <li><a class="list-item" href="#"><span>Link list 1</span></a></li>
                                  <li><a class="list-item" href="#"><span>Link list 2</span></a></li>
                                  <li><a class="list-item" href="#"><span>Link list 3</span></a></li>
                                  <li><span class="divider"></span></li>
                                  <li><a class="list-item" href="#"><span>Link list 4</span></a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li class="nav-item dropdown megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                              <span>Esempio di Megamenu</span>
                              <svg class="icon icon-xs">
                                <use xlink:href="assets/svg/sprite.svg#it-expand"></use>
                              </svg>
                            </a>
                            <div class="dropdown-menu">
                              <div class="row">
                                <div class="col-12 col-lg-4">
                                  <div class="link-list-wrapper">
                                    <ul class="link-list">
                                      <li>
                                        <h3 class="no_toc">Heading 1</h3>
                                      </li>
                                      <li><a class="list-item" href="#"><span>Link list 1 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 2 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 3 </span></a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                  <div class="link-list-wrapper">
                                    <ul class="link-list">
                                      <li>
                                        <h3 class="no_toc">Heading 2</h3>
                                      </li>
                                      <li><a class="list-item" href="#"><span>Link list 1 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 2 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 3 </span></a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                  <div class="link-list-wrapper">
                                    <ul class="link-list">
                                      <li>
                                        <h3 class="no_toc">Heading 3</h3>
                                      </li>
                                      <li><a class="list-item" href="#"><span>Link list 1 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 2 </span></a></li>
                                      <li><a class="list-item" href="#"><span>Link list 3</span></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
      
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>